@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/poppins/Poppins-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'poppins-light';
    src: url('../fonts/poppins/Poppins-Light.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'poppins-medium';
    src: url('../fonts/poppins/Poppins-Medium.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}