/* --------------------------------------------------------------------------
CSS File
Made by Mohit
-------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
Variables
-------------------------------------------------------------------------- */
:root {
  /* // Colors >>>> */
  --primary: #77088d;
  --secondary: #daf5e9;
  --background: #FAF8F4;
  --black: #2B2F35;
  --light-black: #626062;
  --border-color: #d3d3d0;
  --white: #ffffff;
  /* // Fonts >>>> */
  --poppins-light: poppins-light;
  --poppins-regular: poppins-regular;
  --poppins-medium: poppins-medium;
  --poppins-bold: poppins-bold;
  /* // Font size--[0.5 rem = 5px, 1 rem = 10px] >>> */
  font-size: 62.5%;
  /*-- TO MAKE 1 rem  = 10px */
  --bigger-font-size: 5rem;
  --big-font-size: 2.5rem;
  --medium-font-size: 2.5rem;
  --font-size-regular: 1.6rem;
  /* // Gaps >>>> */
  --gpx150: 15rem;
  --gpx100: 10rem;
  --gpx75: 7.5rem;
  --gpx65: 6.5rem;
  --gpx50: 5rem;
  --gpx45: 4.5rem;
  --gpx40: 4.0rem;
  --gpx30: 3rem;
  --gpx20: 2rem;
  --gpx15: 1.5rem;
  --gpx10: 1rem;
}

/* --------------------------------------------------------------------------
Globle CSS
-------------------------------------------------------------------------- */
/* // To avoid browser styles >>>> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* // Globle font >>>> */
body {
  font-family: var(--poppins-regular);
  letter-spacing: 0.7px;
  background: var(--white);
}

/* // Max width of website section >>>> */
.section {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

/* --------------------------------------------------------------------------
Basic Classes
-------------------------------------------------------------------------- */
/* // Font size >>>> */

.font-size-regular {
  font-size: var(--font-size-regular);
}

.font-size-medium {
  font-size: var(--medium-font-size);
}

.font-size-big {
  font-size: var(--big-font-size);
}

.font-size-bigger {
  font-size: var(--bigger-font-size);
}

/* // Font type >>>> */
.font-weight-light {
  font-family: var(--poppins-light);
}

.font-weight-regular {
  font-family: var(--poppins-regular);
}

.font-weight-medium {
  font-family: var(--poppins-medium);
}

.font-weight-bold {
  font-family: var(--poppins-bold);
}

/* //Colors >>>> */
.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-white {
  color: var(--background);
}

.color-black {
  color: var(--black);
}

.color-light-black {
  color: var(--light-black);
}

/* // Margin top >>>> */
.tgpx15 {
  margin-top: var(--gpx15);
}

.tgpx20 {
  margin-top: var(--gpx20);
}

.tgpx30 {
  margin-top: var(--gpx30);
}

.tgpx50 {
  margin-top: var(--gpx50);
}

.tgpx75 {
  margin-top: var(--gpx75);
}

.tgpx100 {
  margin-top: var(--gpx100);
}

/* // SCROLL BAR >>>> */
* {
  scrollbar-color: var(--primary) var(--background);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
}

/* // To hide inut number arrows >>>> */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* // Select 2 custom css >>>> */
.select2-selection--single {
  margin-top: var(--gpx20);
  margin-bottom: 0;
  border: 2px solid var(--border-color) !important;
  background: var(--background) !important;
  padding: calc(var(--gpx10)) calc(var(--gpx15) - 0.2rem) !important;
  font-family: var(--font-regular) !important;
  font-size: var(--font-size-regular) !important;
  color: var(--black) !important;
  border-radius: 50px !important;
  height: auto !important;
  display: flex !important;
  align-items: center !important;
  flex-shrink: 0 !important;
  /* justify-content: space-between !important; */
}

.select2-selection--single:focus {
  border: 2px solid var(--primary) !important;
  padding: calc(var(--gpx10)) calc(var(--gpx15) - 0.2rem) !important;
}

.select2-selection--single .select2-selection__rendered {
  color: var(--black) !important;
  line-height: 1.3 !important;
  flex: 1 !important;
}

/* --Down arrow-- */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: auto !important;
  position: initial !important;
  width: auto !important;
}

.select2-selection--single .select2-selection__arrow b {
  border-color: var(--black) transparent transparent transparent !important;
  border-style: solid;
  border-width: 7px 5px 0 5px !important;
  height: auto !important;
  left: auto !important;
  margin-left: -15px !important;
  margin-top: -3px !important;
  position: initial;
  top: auto !important;
  width: auto !important;
}

.select2-dropdown {
  margin-top: var(--gpx15);
  background-color: var(--background) !important;
  border: 2px solid var(--primary) !important;
  border-radius: 5px !important;
}

.select2-dropdown--above {
  top: calc(var(--gpx15) * -1);
}

.select2-search--dropdown {
  display: block;
  padding: calc(var(--gpx10) - 0.2rem) calc(var(--gpx15) - 0.2rem) 0 calc(var(--gpx15) - 0.2rem) !important;
}

/* --Search-- */
.select2-search--dropdown .select2-search__field {
  padding: calc(var(--gpx10) - 0.2rem) calc(var(--gpx20)) !important;
  border: 2px solid var(--secondary) !important;
  background: var(--background) !important;
  font-family: var(--font-regular) !important;
  font-size: var(--font-size-regular) !important;
  line-height: normal !important;
  color: var(--black) !important;
  border-radius: 50px !important;
  outline: none !important;
}

.select2-search--dropdown .select2-search__field:focus {
  border: 2px solid var(--primary) !important;
}

/* --Search result-- */
.select2-container--default .select2-results>.select2-results__options {
  padding: calc(var(--gpx15) - 0.2rem) calc(var(--gpx15) - 0.2rem) calc(var(--gpx15) - 0.2rem) calc(var(--gpx15) - 0.2rem) !important;
}

.select2-results__option {
  padding: calc(var(--gpx10) - 0.2rem) calc(var(--gpx20)) !important;
  font-family: var(--font-regular) !important;
  font-size: var(--font-size-regular) !important;
  color: var(--black) !important;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 5rem !important;
}

/* --Hightlighted option-- */
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--primary) !important;
  padding: calc(var(--gpx10) - 0.2rem) calc(var(--gpx20)) !important;
  font-family: var(--font-regular) !important;
  font-size: var(--font-size-regular) !important;
  color: var(--background) !important;
}

/* --Options-- */
.select2-container--default .select2-results__option--selectable {
  background-color: var(--background) !important;
  padding: calc(var(--gpx10) - 0.2rem) calc(var(--gpx20)) !important;
  font-family: var(--font-regular) !important;
  font-size: var(--font-size-regular) !important;
  color: var(--black) !important;
}

/* --clear btn-- */
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: auto !important;
  margin-right: var(--gpx10) !important;
  padding-right: 0px;
}

/* --------------------------------------------------------------------------
Buttons
-------------------------------------------------------------------------- */
.primary-btn {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  padding: calc(var(--gpx10) + 2px) calc(var(--gpx20) + 2px);
  font-size: var(--font-size-regular);
  color: var(--background);
}

.secondary-btn {
  outline: none;
  cursor: pointer;
  border: 2px solid var(--primary);
  border-radius: 5px;
  background-color: transparent;
  padding: calc(var(--gpx10)) calc(var(--gpx20));
  font-size: var(--font-size-regular);
  color: var(--primary);
}

.secondary-btn:hover {
  border: none;
  background-color: var(--primary);
  padding: calc(var(--gpx10) + 2px) calc(var(--gpx20) + 2px);
  color: var(--background);
}

/* --------------------------------------------------------------------------
Forms
-------------------------------------------------------------------------- */
.form-area {
  display: grid;
  grid-template-columns: 100%;
  row-gap: var(--gpx30);
}

/* -- Input and textarea field-- */
.input-label {
  margin-bottom: var(--gpx20);
}

.input-field,
.textarea-field {
  border: 2px solid var(--border-color);
  outline: none;
  background: var(--background);
  padding: calc(var(--gpx10) - 0.2rem) calc(var(--gpx20) - 0.2rem) !important;
  font-family: var(--font-regular);
  font-size: var(--font-size-regular);
  color: var(--black);
  border-radius: 5px;
}

.input-field::placeholder,
.textarea-field::placeholder {
  font-family: var(--font-regular);
  font-size: var(--font-size-regular);
  color: var(--light-black);
}

.input-field:focus,
.textarea-field:focus {
  border: 2px solid var(--primary);
  padding: calc(var(--gpx10) - 0.2rem) calc(var(--gpx20) - 0.2rem);
}

.textarea-field {
  resize: none;
}

/* --Toggle-- */
.checkbox-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-input-white {
  background: var(--background);
  padding: var(--gpx10) var(--gpx15);
  border-radius: 5px;
}

/* .checkbox-input-white:hover {
  border: 2px solid var(--secondary);
  padding: calc(var(--gpx10) - 0.2rem) calc(var(--gpx15) - 0.2rem);
} */

.checkbox-toggle {
  display: flex;
  align-items: center;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.checkbox-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 4.0rem;
  height: 2.0rem;
  background: var(--background);
  display: block;
  border-radius: 10rem;
  position: relative;
}

.checkbox-input-white .checkbox-label {
  background: var(--background);
  border: 1px solid var(--light-black);
}

.checkbox-label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 1rem;
  height: 1rem;
  background: var(--border-color);
  border-radius: 9rem;
  transition: 0.3s;
}

.checkbox-input-white .checkbox-label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 0.8rem;
  height: 0.8rem;
  background: var(--light-black);
  border-radius: 9rem;
  transition: 0.3s;
}

input:checked+.checkbox-label {
  background: var(--primary);
}

input:checked+.checkbox-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background: var(--background);
}

.checkbox-label:active:after {
  width: 4rem;
}

/* --Select box-- */
.select-box {
  width: 100% !important;
}

/* --Image input-- */
.image-input-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--background);
  padding: var(--gpx15);
}

.image-input-preview-img-area {
  border-radius: 0.5rem;
  margin-right: var(--gpx50);
  flex-shrink: 0;
}

.image-input-preview-img {
  height: 50px;
  width: 100%;
  max-width: 100px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.image-input-title {
  flex: 2;
}

.image-input-btn {
  margin-left: var(--gpx20);
}

/* --Form submit btn-- */
.form-submit-btn {
  margin-bottom: var(--gpx15);
}

/* --Input classes-- */
.single-input {
  display: grid;
  grid-template-columns: 100%;
}

.dual-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--gpx20);
  row-gap: var(--gpx20);
}

.triple-input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--gpx20);
  row-gap: var(--gpx20);
}

/* --------------------------------------------------------------------------
Section area classes
-------------------------------------------------------------------------- */

/* // To center items >>>> */
.center-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

/* // Two section >>>> */
.two-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --------------------------------------------------------------------------
Navbar
-------------------------------------------------------------------------- */
.navbar-sec {
  width: 100%;
}

.navbar-area {
  padding: var(--gpx15) 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item-ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item-li {
  margin-right: var(--gpx40);
}

.navbar-item-li:nth-last-child(1) {
  margin-right: 0;
}

.navbar-item-li-active a {
  color: var(--primary);
}

.navbar-item-li a:hover {
  color: var(--primary);
}

/* --Menu icon */
.navbar-icon {
  display: none;
  cursor: pointer;
  z-index: 2;
}

.navbar-icon svg {
  stroke: var(--black);
  transition: 0.2s;
}

.navbar-icon svg g:first-child {
  opacity: 1;
  transition: opacity 0s 0.2s;
}

.navbar-icon svg g:first-child line {
  transition: transform 0.2s 0.2s;
  transform: translateY(0px);
}

.navbar-icon svg g:last-child {
  opacity: 0;
  transition: opacity 0s 0.2s;
}

.navbar-icon svg g:last-child line {
  transition: transform 0.2s;
  transform: rotate(0deg);
  transform-origin: center;
}

.navbar-icon.-menu-open svg {
  stroke: var(--black);
}

.navbar-icon.-menu-open svg g:first-child {
  opacity: 0;
}

.navbar-icon.-menu-open svg g:first-child line {
  transition: transform 0.2s;
}

.navbar-icon.-menu-open svg g:first-child line:first-child {
  transform: translateY(7px);
}

.navbar-icon.-menu-open svg g:first-child line:last-child {
  transform: translateY(-7px);
}

.navbar-icon.-menu-open svg g:last-child {
  opacity: 1;
}

.navbar-icon.-menu-open svg g:last-child line {
  transition: transform 0.2s 0.2s;
}

.navbar-icon.-menu-open svg g:last-child line:first-child {
  transform: rotate(45deg);
}

.navbar-icon.-menu-open svg g:last-child line:last-child {
  transform: rotate(-45deg);
}

/* --------------------------------------------------------------------------
Blog section
-------------------------------------------------------------------------- */
.blog-box-area {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gpx50);
  row-gap: var(--gpx50);
}

.blog-box {
  width: calc(33% - var(--gpx50)*2/3);
  border: 1px solid var(--border-color);
  padding: var(--gpx20);
  border-radius: 8px;
  background: var(--background);
}

.blog-box-img {
  width: 100%;
  border-radius: 5px;
}

/* -------------------------------------------------------------------------
Responsive : Media Queries >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
------------------------------------------------------------------------- */
@media screen and (min-width: 0) and (max-width: 451px) {

  /* --------------------------------------------------------------------------
  Variables
  -------------------------------------------------------------------------- */
  :root {
    /*-- TO MAKE 1 rem  = 10px */
    --bigger-font-size: 4.0rem;
    --big-font-size: 2.4rem;
    --medium-font-size: 2.1rem;
    --font-size-regular: 1.4rem;
    /* // Gaps >>>> */
    --gpx150: 10rem;
    --gpx100: 7.0rem;
    --gpx75: 5.2rem;
    --gpx65: 4.8rem;
    --gpx50: 3.7rem;
    --gpx45: 3.3rem;
    --gpx40: 3.0rem;
    --gpx30: 2.2rem;
    --gpx20: 1.40rem;
    --gpx15: 1.26rem;
    --gpx10: 0.6rem;
  }

  /* --------------------------------------------------------------------------
  Section area classes
  -------------------------------------------------------------------------- */
  /* // Two section >>>> */
  .two-sec {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* --------------------------------------------------------------------------
  Navbar
  -------------------------------------------------------------------------- */
  .logo-img {
    width: auto;
    max-height: 30px;
  }

  .navbar-item-ul {
    top: 60px;
    position: absolute;
    padding: var(--gpx30);
    border-radius: 5px;
    background: var(--background);
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    list-style: none;
    box-shadow: 2px 2px 15px rgba(2, 2, 0, 0.3);
    z-index: 1000;
  }

  .navbar-item-ul-active {
    display: flex;
  }

  .navbar-item-li {
    margin-bottom: var(--gpx20);
  }

  .navbar-item-li:nth-last-child(1) {
    margin-bottom: 0;
  }

  .navbar-item-li .color-white {
    color: var(--black) !important;
  }

  /* --Menu icon */
  .navbar-icon {
    display: block;
  }

}

@media screen and (min-width: 351px) and (max-width: 451px) {

  /* --------------------------------------------------------------------------
  Variables
  -------------------------------------------------------------------------- */
  :root {
    /*-- TO MAKE 1 rem  = 10px */
    --bigger-font-size: 4.0rem;
    --big-font-size: 2.45rem;
    --medium-font-size: 2.2rem;
    --font-size-regular: 1.8rem;
    --nav-font-size: 1.5rem;
    /* // Gaps >>>> */
    --gpx150: 11rem;
    --gpx100: 7.5rem;
    --gpx75: 5.6rem;
    --gpx65: 5.0rem;
    --gpx50: 3.9rem;
    --gpx45: 3.5rem;
    --gpx40: 3.2rem;
    --gpx30: 2.4rem;
    --gpx20: 1.55rem;
    --gpx15: 1.37rem;
    --gpx10: 0.8rem;
  }

  /* --------------------------------------------------------------------------
  Navbar
  -------------------------------------------------------------------------- */
  .logo-img {
    width: auto;
    max-height: 40px;
  }
}

@media screen and (min-width: 451px) and (max-width: 701px) {

  /* --------------------------------------------------------------------------
  Variables
  -------------------------------------------------------------------------- */
  :root {
    /*-- TO MAKE 1 rem  = 10px */
    --bigger-font-size: 4.3rem;
    --big-font-size: 2.65rem;
    --medium-font-size: 2.4rem;
    --font-size-regular: 1.6rem;
    /* // Gaps >>>> */
    --gpx150: 12rem;
    --gpx100: 8.0rem;
    --gpx75: 5.9rem;
    --gpx65: 5.4rem;
    --gpx50: 4.3rem;
    --gpx45: 3.8rem;
    --gpx40: 3.6rem;
    --gpx30: 2.55rem;
    --gpx20: 1.6rem;
    --gpx15: 1.40rem;
    --gpx10: 0.9rem;
  }

  /* --------------------------------------------------------------------------
  Section area classes
  -------------------------------------------------------------------------- */
  /* // Two section >>>> */
  .two-sec {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* --------------------------------------------------------------------------
  Navbar
  -------------------------------------------------------------------------- */
  .logo-img {
    width: auto;
    max-height: 50px;
  }

  .navbar-item-ul {
    top: 60px;
    position: absolute;
    padding: var(--gpx30);
    border-radius: 5px;
    background: var(--background);
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    list-style: none;
    box-shadow: 2px 2px 15px rgba(2, 2, 0, 0.3);
    z-index: 1000;
  }

  .navbar-item-ul-active {
    display: flex;
  }

  .navbar-item-li {
    margin-bottom: var(--gpx20);
  }

  .navbar-item-li:nth-last-child(1) {
    margin-bottom: 0;
  }

  .navbar-item-li .color-white {
    color: var(--black) !important;
  }

  /* --Menu icon */
  .navbar-icon {
    display: block;
  }

}

@media screen and (min-width: 701px) and (max-width: 865px) {

  /* --------------------------------------------------------------------------
  Variables
  -------------------------------------------------------------------------- */
  :root {
    /* // Gaps >>>> */
    --gpx150: 12rem;
    --gpx100: 8.0rem;
    --gpx75: 5.9rem;
    --gpx65: 5.4rem;
    --gpx50: 4.3rem;
    --gpx45: 3.8rem;
    --gpx40: 3.6rem;
    --gpx30: 2.55rem;
    --gpx20: 1.6rem;
    --gpx15: 1.40rem;
    --gpx10: 1rem;
  }

  /* --------------------------------------------------------------------------
  Section area classes
  -------------------------------------------------------------------------- */
  /* // Two section >>>> */
  .two-sec {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* --------------------------------------------------------------------------
  Navbar
  -------------------------------------------------------------------------- */
  .logo-img {
    width: auto;
    max-height: 50px;
  }

  .navbar-item-ul {
    top: 60px;
    position: absolute;
    padding: var(--gpx30);
    border-radius: 5px;
    background: var(--background);
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    list-style: none;
    box-shadow: 2px 2px 15px rgba(2, 2, 0, 0.3);
    z-index: 1000;
  }

  .navbar-item-ul-active {
    display: flex;
  }

  .navbar-item-li {
    margin-bottom: var(--gpx20);
  }

  .navbar-item-li:nth-last-child(1) {
    margin-bottom: 0;
  }

  .navbar-item-li .color-white {
    color: var(--black) !important;
  }

  /* --Menu icon */
  .navbar-icon {
    display: block;
  }


}

@media screen and (min-width: 866px) and (max-width: 1025px) {

  /* --------------------------------------------------------------------------
  Variables
  -------------------------------------------------------------------------- */
  :root {
    /* // Gaps >>>> */
    --gpx150: 13rem;
    --gpx100: 8.5rem;
    --gpx75: 6.3rem;
    --gpx65: 5.8rem;
    --gpx50: 4.7rem;
    --gpx45: 4.1rem;
    --gpx40: 3.8rem;
    --gpx30: 2.75rem;
    --gpx20: 1.8rem;
    --gpx15: 1.46rem;
    --gpx10: 1rem;
  }

  /* --------------------------------------------------------------------------
  Navbar
  -------------------------------------------------------------------------- */
  .logo-img {
    width: auto;
    max-height: 50px;
  }

  .navbar-item-ul {
    top: 60px;
    position: absolute;
    padding: var(--gpx30);
    border-radius: 5px;
    background: var(--background);
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    list-style: none;
    box-shadow: 2px 2px 15px rgba(2, 2, 0, 0.3);
    z-index: 1000;
  }

  .navbar-item-ul-active {
    display: flex;
  }

  .navbar-item-li {
    margin-bottom: var(--gpx20);
  }

  .navbar-item-li:nth-last-child(1) {
    margin-bottom: 0;
  }

  .navbar-item-li .color-white {
    color: var(--black) !important;
  }

  /* --Menu icon */
  .navbar-icon {
    display: block;
  }


}

@media screen and (min-width: 1025px) and (max-width: 1150px) {

  /* --------------------------------------------------------------------------
  Navbar
  -------------------------------------------------------------------------- */
  .navbar-item-li {
    margin-right: var(--gpx30);
  }
}